* {
  font-family: 'Emilys Candy', cursive;  
  background-color: #F4D58D;
}

.bubble_menu{
  text-align:center
}
  
.bubble_menu button {
  background-color: #3BCEAC;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 20px;
  height: 150px;
  width: 150px;
  margin: 10px 10px;
  color: #000000;
  border-radius: 50%;
}

.button:hover {
  background-color: #000000; 
  color: #f2f2f2;
}

h1, h2, p, form{
  text-align:center
}

.collapsible {
  background-color: #3BCEAC;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #3BCEAC; 
    color: #444;
}

.collapsible:hover {
  background-color: #000000; 
  color: #f2f2f2;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #F4D58D;
}

.f1 {
  text-align: center;
}
.iframe-div {
  text-align:center;
  width:100%;
}
  .footer{
    text-align: center;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }