* {
    font-family: 'Emilys Candy', cursive;  
    background-color: #3B4854;
    color:#FFFFFF;
}


.bubble_menu{
  text-align:center
}

.bubble_menu button {
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 20px;
  height: 150px;
  width: 150px;
  margin: 10px 10px;
  color: #333E48;
  border-radius: 50%;
}
.homeButton{
  background-color:#08F7FE;
}
.aboutUsButton{
  background-color:#09FBD3;
}
.projectsButton{
  background-color:#FE53BB;
}
.faqButton{
  background-color:#F5D300;
}
.homeButton:hover {
  background-color: #FFFFFF; 
  color: #08F7FE;
}
.aboutUsButton:hover{
  background-color:#FFFFFF;
  color:#09FBD3;
}
.projectsButton:hover{
  background-color:#FFFFFF;
  color:#FE53BB;
}
.faqButton:hover{
  background-color:#FFFFFF;
  color:#F5D300;
}

/*photo slideshow*/
.tech-slideshow {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 300px;
  width: 2526px;
  background: url(/images/slideshow.png);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Hey browser, use your GPU */
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -300px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

h1, h2, p{
  text-align:center
}
  
  .footer{
    text-align: center;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }